%h1 Usage

%h2 JSON:
%p http://gemdeps.heroku.com/<span class="placeholder">name_of_gem</span>

%h2 XML:
%p http://gemdeps.heroku.com/<span class="placeholder">name_of_gem</span>.xml

%h2 HTML:
%p http://gemdeps.heroku.com/<span class="placeholder">name_of_gem</span>.html