%h1.gem= @gem_name

%h2(style="margin-bottom: 0") Dependents
.timestamp(style="margin-bottom: 12pt")= "(accurate as of #{@last_updated.utc})"

- if @dependents.empty?
  (none)
- else
  - @dependents.each do |d|
    .gem= d