body {
  font: 16pt "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  height: 100%;
  width: 100%;
}

table.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

th.requirements, td.requirements {
  padding-left: 16pt;
}

.gem {
  font-family: Consolas, Inconsolata, monospace;
}

.timestamp {
  font-size: 50%;
}

.placeholder {
  font-style: italic;
}